[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "python app.py"
test = "ptw -- -v -rP"
coverage = "pytest --cov=application --cov-report term-missing"
