[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"
werkzeug = "*"
flask-jwt-extended = "*"
flask-socketio = "*"
eventlet = "*"
dnspython = "*"
python-engineio = "*"
python-socketio = "*"
six = "*"
axios = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
autopep8 = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "python app.py"
seed-db = "python seed.py"
test = "ptw -- -v -rP"
coverage = "pytest --cov=application --cov-report term-missing"
